<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body class="mainCol">
    <div id="main">
        <div id="top">
            <h1 id="userLoc"><span class="accentCol">Kensington</span>, 11218</h1>
            <h3 id="traffic">Traffic: <span>High</span></h3>
        </div>
    
        <div id="sliderBox">
            <input id="radiusSel" type="range" min="0.5" max="3" value="0.5" step="0.1">
        </div>
    </div>
</body>
</html>