<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&family=Barriecito&family=EB+Garamond:ital,wght@1,500&family=Kolker+Brush&family=Permanent+Marker&family=Syne+Mono&display=swap" rel="stylesheet">
    
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<div class="preloader">
  <div class="preloader-text">ParkingFinder</div>
</div>
<body class="mainCol">
    <div id="main">
        <div id="top">
            <p id="appName">Spots</p>
            <h1 id="userLoc"><span class="accentCol">Kensington</span>, 11218</h1>
            <h3 id="traffic">Traffic: <span>High</span></h3>
            
            
        </div>
        <p style="color: black; font-size: 10px">The three colors below refer to the icon color</p>
        <div class="key">
          <div class="key-item green"></div>
          <div class="key-item-label"><b>Low Risk</b></div>
          <div class="key-item yellow"></div>
          <div class="key-item-label"><b>Moderate Risk</b></div>
          <div class="key-item red"></div>
          <div class="key-item-label"><b>High Risk</b></div>
        </div>
        <div id="map"></div>
    

        <!-- This slider will be implemented later | will be used for setting the search radius -->

        <!-- <div id="sliderBox">
            <input id="radiusSel" type="range" min="0.5" max="3" value="0.5" step="0.1">
        </div> -->
    </div>
    <nav class="navbar fixed-bottom navbar-dark bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ParkingFinder</a>
        </div>
      </nav>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap&v=weekly"
      defer
    ></script>
</body>
</html>